body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 微软雅黑, Arial;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    font: 12px/1.5;
    font-family: Arial;
    _background-image: url(about:blank);
    _background-attachment: fixed;
    box-sizing:border-box
}
img {
    border: 0;
}
ol, ul {
    list-style: none;
}
:link, :visited, ins {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
sub, sup {
    font-size: 100%;
    vertical-align: baseline;
}
blockquote, q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border:0;
    padding:0;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
i, cite, em, address {
    font-style: normal;
}
a {
    color: #333;
    text-decoration: none;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

.ho_centent{width:100%; overflow: hidden}
.hotai_left{width:10%; background:#82c0f2; height:100%; padding-top:30px;}
.hotai_left ul li{height:28px; border-bottom:1px solid #fff; line-height: 28px; text-align: center; font-size:15px; background:#cce6f4}
.hotai_left ul li.no{background:#269EFF; }
.hotai_left ul li.no a{color:#fff;}
.hotai_left ul li a{color:#1386e2;font-size: 15px;}
.right{width:89%; float:left;height:800px; overflow-x: scroll; padding:20px 0px 0px 0; box-sizing: border-box}
.right table tr td{ text-align: center; border:1px solid #A9D4F7; line-height:22px;padding:5px 10px; font-size:16px}
.right table thead tr{background:#1386e2; font-size:15px; color:#fff;}
.right table{width: 95%; margin: auto;  }
.right table tr td.diz{width:25%;word-break: break-all;}
.right table tr td.gy{width:10%}
.right table tr td.dianhu{width:15%}
.right table tr:nth-child(2n){background:#CBE8FF}
.right table tr td.blou{color:#A0A0A0;}
.right table tr td.ffff{color:#00DD00}
.right table tr td.ddd{width:15%;}
.right table tr td.zuihou button{border:none; background:none}
.right > a{    line-height: 29px;
    font-size: 15px;
    margin-left: 2.5%;
    background: #1386E2;
    color: #fff;
    display: block;
    width: 81px;
    margin-bottom: 10px;}
.right ul{height:50px;  margin: 15px auto;
    width: 80%; text-align: right}
.right ul li a{    border: 1px solid #86C9FF;
    padding: 6px 12px;
    color: #41A1EC;
    font-size: 15px;}

.right ul li a.no{color:#fff; background:#41A1EC}
.right_1 ul{width:30%;     height: 100%;}
.right_1 ul li{text-align: center; overflow: hidden; padding:10px 0}
.right_1 ul li span{display: inline-block; width:120px; text-align: right;font-size:16px;}
.right_1 ul li i{font-size:16px; color:#f00}



















